<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>HandleBars</title>
</head>

<body>
    <div class="main-content">
    {{>header}}
    <h1>Welcome to webserver</h1>
    <p>Use this site to get your weather status</p>
    <form action="">
        <input type="text" placeholder="Enter the location">
        <button>Search</button>
    </form>
    <p id="message-1"></p>
    <p id="message-2"></p>
    </div>

    {{>footer}}
    <script src="js/app.js"></script>
</body>
</html>